.about__description {
    margin-top: 40px;
    width: 40%;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 1px;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
