<head>
    <title>About</title>
</head>

<div class="about">
<h1>About us</h1>
    <h3 class="about__description">Welcome to shop, your number one source for all things Apple. We're
        dedicated to giving you the very best of Apple Soft, with a focus on.
        Founded in 2020 by Staselki, shop has come a long way from its beginnings in a DA). When [store founder] first started out, his/her passion for [passion of
        founder, ie: helping other parents be more eco-friendly, providing the best equipment for his fellow musicians]
        drove him to [action, ie: do intense research, quit her day job], and gave him the impetus to turn hard work and
        inspiration into to a booming online store. We now serve customers all over [place, ie: the US, the world, the
        Austin area], and are thrilled to be a part of the [adjective, ie: quirky, eco-friendly, fair trade] wing of the
        [industry type, ie: fashion, baked goods, watches] industry.
    </h3>
</div>