<head>
    <title>Cart</title>
</head>
<h1>Cart</h1>
<!-- <p>
    <a routerLink="/shipping">Shipping Prices</a>
</p> -->
<p *ngIf="items.length < 1">You have nothing to buy</p>
<div *ngFor="let item of items index as id" class="cart__list">
    <div class="cart__list-item">
        <img [src]="item.image" />
        <p>{{item.name}}</p>
        <p>${{item.price}}</p>
        <!-- <button (click)="remove(id)">Remove</button> -->
        <!-- <h2 *ngIf="totalCost > 0">Total cost is: ${{totalCost}}</h2> -->
    </div>
  </div>
  <h2 *ngIf="totalCost > 0">Total cost is: ${{totalCost}}</h2>
<form [formGroup]="checkoutForm" *ngIf="items.length >= 1" (ngSubmit)="onSubmit(checkoutForm.value)" class="cart__form">

    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name" class="cart__input">
    </div>
  
    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text" formControlName="address" class="cart__input">
    </div>
  
    <button class="btn btn-form" type="submit">Purchase</button>
  
  </form>