.shop__item >h2>a{
    text-decoration: none;
    color: #000;
    &:hover {
        text-decoration: underline;
    }
}

.shop__item {
    display: flex;
    flex-direction: column;
    img{
        height: 300px;
        width: 300px;
    }
}

.shop__list {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;

}

.shop__weather {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        margin-top: 15px;

    }
    input {
        width: 30%;
    }
    
}